/*
 * dependencies.css v1.1
 * All css dependencies place here
 *
 * License:
 * For License Information check out - https://wrapbootstrap.com
 * 
 * Copyright 2014, Stilearning
 * http://stilearning.com
 */



@import url('../../Content/ionicons.min.css');

@import url('../../Content/all.css');
@import url('../../Content/select2.css');
@import url('../../Content/bootstrap-colorpicker.min.css');
@import url('../../Content/bootstrap-datetimepicker.min.css');
@import url('../../Content/daterangepicker-bs3.css');
@import url('../../Content/multi-select.css');
@import url('../../Content/bootstrap3-wysihtml5.css');
@import url('../../Content/bootstrap-markdown.min.css');
@import url('../../Content/dropzone.css');

@import url('../../Content/datatables.css');

@import url('../../Content/messenger.css');
@import url('../../Content/messenger-theme-flat.css');
@import url('../../Content/messenger-theme-future.css');
@import url('../../Content/messenger-theme-air.css');

/*@import url('../../default.htm');