@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800,900);*{padding:0;margin:0;}
body{background:#ffffff;font-family:'Raleway',sans-serif;overflow-x:hidden;text-rendering:optimizelegibility;}
.resmenu{display:none;}
a{color:#ffffff;text-decoration:none;}
a:hover{color:#ffffff;text-decoration:none;}
a:focus{color:#ffffff;outline:medium none;outline-offset:0;}
h1{font-size:2em;font-weight:normal;line-height:1.15;}
h2{font-size:1.5em;line-height:1.25;margin-bottom:.45em;}
h3{font-size:1.35em;line-height:1.25;margin-bottom:.45em;}
h4{font-size:1.05em;line-height:1.35;margin-bottom:.45em;}
h5{font-size:1.05em;line-height:1.35;margin-bottom:.45em;}
h6{font-size:1em;line-height:1.35;margin-bottom:1em;}
form{display:inline;}
fieldset{border:0;}
legend{display:none;}
table{border:0;border-spacing:0;empty-cells:show;font-size:100%;}
caption,th,td{vertical-align:top;text-align:left;font-weight:normal;}
p{margin:0 0 1em;}
strong{font-weight:bold;}
address{font-style:normal;line-height:1.35;}
cite{font-style:normal;}
q,
blockquote{quotes:none;}
q:before,
q:after{content:'';}
small{font-size:1em;}
big{font-size:1.15em;}
ul,ol{list-style:none;}
.gen{background:none repeat scroll 0 0 #fff;color:#008900;font-size:20px;margin:15px auto;padding:5px;text-align:center;}
.err{background:none repeat scroll 0 0 #FF0000;color:#008900;font-size:20px;margin:15px auto;padding:5px;text-align:center;}
.section-title{margin-bottom:35px;margin-top:80px;text-align:center;}
.section-title h2{font-size:26px;font-weight:800;letter-spacing:0.04em;margin:0 0 10px;padding:0 0 15px;position:relative;text-align:center;text-transform:uppercase;}
.section-title h2:before{border:2px solid #59a3fc;bottom:0;content:"";left:0;margin:0 auto;position:absolute;right:0;width:100px;}
.section-title p{color:#171717;font-size:16px;font-style:italic;text-align:center;}
.overlay{ /* background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5); */ height:100%;width:100%;}
section#Demo_section {  padding:40px 0px 80px 0px;}
section#contact_section {  padding: 40px 0px 0px 0px;}
.site_logo{margin-top:200px;text-align:center;}
.menu_area{background:url("images/logo.png") no-repeat 18% #fff; top:0;height:50px;position:absolute;width:100%; height: 77px;
    padding: 12px 0px;     background-size: 15%;}
.navbar-default .navbar-nav>li>a { color:#333;}
.stick_menu{box-shadow: 0 0 0 4px white, 0 3px 5px black;position:fixed;top:0;z-index:9999;background: url("images/logo.png") no-repeat 15% #fff;transition:background .25s ease-in-out;height: 77px;background-size: 15%;}
.header_part{background:url("images/background.jpg") repeat scroll center center/cover rgba(0, 0, 0, 0);overflow:hidden;}
.navbar-default{background-color:transparent;border-color:transparent;}
.logo{}
.active{background:url("images/active-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;color:#0d4c92 !important;}
.logo a{color:#ffffff !important;}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color:#333; font-weight:600;     font-size: 18px;}
.site_title{background:rgba(13, 76, 146, 0.68);padding-bottom:10px;}
.site_title h1{color:#fff;font-size:50px;font-weight:700;margin:30px auto;text-align:center;}
.site_title p{color:#fff;font-size:20px;text-align:center;   line-height: 30px;}
.countdown{color:#fff;margin:40px auto 10px;width:70%;}
.countdown_row{display:block;margin-left:5px;overflow:hidden;width:100%;}
.countdown_section{background:none repeat scroll 0 0 transparent;border:2px solid #ddd;border-radius:100%;display:block;float:left;font-size:25px;margin:15px 30px auto;padding:30px 12px;text-align:center;width:140px;}
.countdown_amount{font-size:25px;font-weight:800;}
.welcome_section{overflow:hidden; padding:80px 0px;}
.about{margin:0 auto;padding:60px 20px;}
.about h2{font-size:35px;font-weight:bold;text-align:center;}
.about p{margin:20px;text-align:center;}
.welcome_part{margin:50px auto 80px;}
.welcome_icon{background:none repeat scroll 0 0 transparent;border:2px solid #59a3fc;border-radius:100%;color:#59a3fc;margin:0 auto;padding:35px;text-align:center;width:140px;}
.welcome_part h2{font-size:16px;font-weight:700;margin-bottom:5px;text-transform:uppercase;text-align:center;}
.welcome_part p{color:#171717;font-size:16px;text-align:center;}
.email_subscribe_section{background:none repeat scroll 0 0 #ecf0f1;color:#000;height:auto;overflow:hidden;width:100%;}
.email_subscriber_head{margin:100px auto 30px;}
.email_subscriber_head h2{font-size:35px;text-align:center;}
.email_subscriber_head p{text-align:center;}
.email_subscribe_form_part{margin-bottom:80px;text-align:center;}
.email_input_box{background:none repeat scroll 0 0 #fff;border-radius:10px;color:#000;display:inline;font-size:15px;height:auto;margin:20px 0px;padding:15px;width:100%;}
.email_submit_box{border-radius:10px;margin-top:-5px;padding:15px 40px;}
.email_submit_box:focus, .email_submit_box:active:focus, .email_submit_box.active:focus{outline:medium none;outline-offset:-2px;}
.contact_section{overflow:hidden;background:none repeat scroll 0 0 #18191a;color:#fff; float:left; width:100%; min-height:600px;}
.map-section{overflow:hidden;background:none repeat scroll 0 0 #18191a;color:#fff;}
.login_section{overflow:hidden;background:none repeat scroll 0 0 #18191a;color:#fff;}
.contact_head{padding:80px 0 30px;text-align:center;}
.contact_head h2{font-size:35px;font-weight:bold;}
.contact_head p{}
.address_part{}
.address{margin:10px auto;font-weight:600;}
.phone{margin:10px auto;font-weight:600;}
.email{margin:10px auto;font-weight:600;}
.social_icons{}
.social_icons ul{}
.social_icons ul li{display:inline;font-size:20px;margin-right:10px;}
.social_icons ul li a{font-size:40px;}
.contact_form{margin-bottom:60px;}
.contact_input_box{background:none repeat scroll 0 0 transparent;border:1px solid #666;border-radius:10px;color:#fff;height:auto;margin-bottom:30px;padding:15px;resize:none;}
.contact_button{border-radius:10px;font-size:18px;height:auto;padding:10px 25px;transition:2s;}
.contact_button:focus, .contact_button:active:focus, .contact_button.active:focus{outline:medium none;outline-offset:-2px;}