@model ElectricEase.Models.Assembly_MasterInfo
@{
    ViewBag.Title = "DistributorAssemblyExport";
    Layout = "~/Views/Shared/_estimLayout.cshtml";
}
<link href="~/Content/chosen.min.css" rel="stylesheet" />
<script src="~/Scripts/exportjs.js"></script>
<script src="~/Scripts/DistributorAssemblyExport.js"></script>
<div class="app-body" id="Scroll">
    <!-- app content here -->
    <div class="magic-layoutz">
        <div class="box magic-element width-full" id="">
            <fieldset>
                <div id="accordion" class="partsmobile">
                    <div class="box-row  profile-hd">
                        <h7 class="box-heading">
                            <strong> &nbsp  Distributor Assembly Export </strong> <span id="togglecont" class="pull-right apse b" style="padding-right:5px; color:#ffffff">
                                <img id="arrow" src="../Images/down-arrow.png" alt="" />
                            </span>
                        </h7>
                    </div>
                    <div class="row typerdio" style="margin-bottom:0px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-1">
                                    <label for="DistributorID" style="padding:8px;"><strong>Distributors </strong> </label>
                                </div>
                                <div class="col-md-4">
                                    @*@Html.DropDownListFor(x => x.DistributorID, ViewBag.Distributor as SelectList, "Select", new { @class = "form-control selectpicker", @name = "test", @onchange = "GetAssemblylist(this.value)" })*@
                                    @Html.DropDownListFor(x => x.DistributorID, ViewBag.Distributor as SelectList, "Select", new { @class = "form-control selectpicker", @onchange = "loadAssemblyAndClients()" })
                                </div>
                                <div class="col-md-1">
                                    <label for="drpDownClient" style="padding:8px;"><strong>Clients </strong> </label>
                                </div>
                                <div id="drpDownClientDiv" class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <div class="disright">
                                        <button class="btn btn-primary" onclick="ValidateLaborUnit();">Validate Labor Unit</button>
                                        <button class="btn btn-primary" onclick="ExportAssemblies();">Export</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <div id="divassemblylist" class="divassemblylistctrl">
                        <table id="DistAssemblyExportTbl" class="table table-bordered datatables" cellspacing="0" width="100%">
                            <thead style="background-color: #45525F">
                                <tr>
                                    <th><input type="checkbox" value="selectall" id="selectall" onchange="ExportSelectAll(this);" /> Select all</th>
                                    <th>Assemblies Name</th>
                                    <th>Assembly Category</th>
                                    <th>Assemblies Description</th>
                                    <th>Parts Count</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    @*<div id="divassemblylist" class="divassemblylistctrl">

                        </div>*@
                </div>
            </fieldset>
        </div>
    </div>
</div>
