@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_estimLoginLayout.cshtml";
}

<section id="recover" class="sign-wrapper recover transition-layout">
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-0 col-xs-offset-0 col-md-4 col-sm-12 col-xs-12">
                    <div class="sign-brand">
                       <img src="~/AppImges/kbElectric.png" alt="Brand" />

                    </div>
                    <!-- /sign-brand -->
                     @if (ViewBag.fpErrorMsg != null)
            { 
                <div class="box-row profile-hd">
                    <div class="error box-row" style="background: #FF4747; font-size: 14px; display: block; padding: 5px; position: relative; color: black;">@ViewBag.fpErrorMsg</div>
                </div>
            }
                    <div class="sign-container">

                        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
                        {
                            <div class="form-group">
                               @* <input type="email" class="form-control input-lg" name="recover-email" placeholder="Email">*@
                                @Html.TextBox("Email", "",new { @class="form-control input-lg", placeholder = "Email"})
                                <small class="help-block text-inverse">Enter your Email ID and we will send you a link to reset your password</small>
                            </div>
                            <!-- /form-group -->
                            <div class="form-group">
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Send reset link">
                            </div>
                            
                        }
                       @* <form role="form" >
                            
                            <!-- /form-group -->
                        </form>*@
                    </div>
                    <!-- /sign-container -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="sign-footer">
                <a href="#signin"  data-toggle="transition-layout" class="btn btn-link text-inverse" style="color:white">Sign In</a>
            </div>
            <!-- /sign-footer -->
        </section>
