<!-- jQuery, theme required for theme -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- theme dependencies -->
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/verge.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/raphael-2.1.0.min.js"></script>
    <script src="~/Scripts/prettify.js"></script>
    <!-- other dependencies -->
    <script src="~/Scripts/jquery.icheck.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Scripts/morris.min.js"></script>
    <script src="~/Scripts/jquery.tagsinput.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- theme app main.js -->
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/bootstrap-colorpicker.min.js"></script>

<!-- fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/app/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/app/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/app/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/app/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/AppImges/brand.png">


    <!-- theme bootstrap stylesheets -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">*@
    <link href="~/Content/select2.css" rel="stylesheet" />

    @*<script src="~/Scripts/jquery.dataTables.min.js"></script>*@
    <script src="~/Scripts/DataTable.min.js"></script>
    @* <script src="~/Scripts/jquery-1.11.3.min.js"></script>*@
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <link href="~/Content/datatables.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-colorpicker.min.css" rel="stylesheet" />


    @* <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">*@
    <!-- theme fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:3A400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>



    <!-- theme dependencies stylesheets -->
    <link href="~/Content/dependencies.css" rel="stylesheet" />

    <!-- theme app main.css (this import of all custom css, you can use requirejs for optimizeCss or grunt to optimize them all) -->
    <link href="~/Content/syrena-admin.css" rel="stylesheet" />

    

<div class="app-body">
     @RenderBody()
</div>