<!DOCTYPE html>
<html>
   @* <body >*@
  <!-- Header Section End -->		
  <!-- About Section Start -->		
	@*<section id="welcome_section">*@
          @RenderBody()
	@*</section>*@
  <!-- About Section End -->	

  	 <!-- Demo Section Start -->		
	
  <!-- Demo Section End -->	
  <!-- Subscriber Section Start --> 
	
  <!-- Subscriber Section End -->
  <!-- Contact Section Start -->  
	
  <!-- Contact Section End -->	
   <!--Core js-->
    @*<script src="js/jquery.min.js"></script>*@
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.smooth-scroll.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
	<!--common script init for all pages-->
    
      @*</body>*@
</html>
