<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="yvwUwkeE674PO-Aee4vLElM9RhA0F-iSHBp-to5LK9A" />

    <title>ElectricEase</title>
	<!--Core CSS -->
        <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/animate.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
	 <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
      <link href="../Scripts/bootstrap-toastr/toastr.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      
   
      <script type="text/javascript">
          //$(window).load(function () {
          //    $(".loader").fadeOut("slow");
          //})
</script>
<style>
.back-to-top {
position: fixed;
bottom: 2em;
right: 40px;
text-decoration: none;
font-size: 7px;
padding: 10px;
display: none;
z-index: 100000;
background: #0d4c92 !important;
color: #fff !important;
border-radius: 50%;
cursor: pointer;}
.back-to-top:hover { background-color:none;	color:#FFF;} 
.arrow-down-home .mbr-arrow__link {
background: #2a5c9e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: right; font-size: 7px;
padding: 10px;
    text-align: center;
    margin-right:20px; position: absolute;
    right: 20px;
    top: 85%;}
</style>
      </head>
<body>
    <header id="header_part">
		<div class="header_part" id="head">
			<div class="overlay">
				<div class="start_part">	
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<!-- Logo Start -->
										<div class="site_logo">
											<a href="#" title=""><img src="images/logo.png" alt="" title=""/></a>
										</div>
										<!-- Logo End-->
										<!-- Site Title start-->	
										<div class="site_title">
											<h1></h1>
											</br></br>
											<p>Welcome to electricease <br /><br />
Complete Job Estimation and Management System <br>
Built specifically for the Electrical Industry</p>
											<!-- <p> Field Service Product <br/>
											A perfect solution for Management & Technicians. <br/>It will morph perfectly on your needs! There is no limit to what you can accomplish using our template.<br/> Look at it!</p> -->
										</div>
										<!-- Site Title end-->
										<!-- Countdown start -->
										<!--div class="countdown wow bounceInUp">
											<div class="defaultCountdown"></div>
										</div-->
										<!-- Countdown end-->
									</div>
								</div>
							</div>
						</div>
                    <div class="arrow-down-home"><a class="mbr-arrow__link" href="#" id="scrollToBottom"><i class="fa fa-chevron-down fa-3x"></i></a></div>
				</div>	
               
				<!-- Menu Start -->
				
				<!-- Menu End-->
			</div>
		</div>	
	</header>
  <!-- Header Section Start -->
				<!-- Menu Start -->
				<div class="menu_area" id="stick_menu">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">
                            <img src="images/mmenu.png" alt="" title="" class="resmenu" />
										<div class="collapse navbar-collapse mainnavmenu" id="bs-example-navbar-collapse-1">
										<div id="menu-center">
                                           @* <img src="images/logo.png" alt="" title=""/>*@
                                           
											<ul class="nav navbar-nav navbar-right mainnav">
                                        <li><a href="#header_part" class="active">Home</a></li>
                                        <li><a href="#welcome_section">Features</a></li>
                                        <li><a href="#Demo_section">Overview</a></li>
                                        <!--<li><a href="#email_subscribe_section">Get Notify</a></li>-->
												<li><a href="#contact_section">Contact</a></li>	
                                        <li><a href="../Login/Login">Login</a></li>
											</ul>
										</div>
										</div>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- Menu End-->
			
  <!-- Header Section End -->		
  <!-- About Section Start -->	
<div class="back-to-top scrollToTop" style="display: none;">
 <i class="fa fa-chevron-up fa-3x"></i>
</div>  
	<section id="welcome_section">
		<div class="welcome_section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row">	
						<!-- About text start -->
							<div class="section-title">
								<h2>ElectricEase</h2>
							</div>
						<!-- About text end -->	
						</div>
						<!-- About service part start--> 
						<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
									<div class="welcome_part wow fadeInLeft">
										<div class="welcome_icon">
                                        <i class="fa fa-file-text-o fa-4x"></i>
										</div>
                                    <h2>Job Description</h2>
                                    <p>
                                        Create detailed jobs quickly <br>Attach documents and photos
                                        <br>
                                        Instantly load into live workflow
                                    </p>
									</div>
								</div>
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="welcome_part wow fadeInUp">
									<div class="welcome_icon">
                                        <i class="fa fa-calculator fa-4x"></i>
									</div>
                                    <h2>Estimation</h2>
                                    <p>
                                        1-Click Email estimates to clients
                                        <br>
                                        Quickly build estimates w/ 3 types of calculations
                                    </p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="welcome_part wow fadeInDown">
									<div class="welcome_icon">
                                        <i class="fa fa-line-chart fa-4x"></i>
									</div>
									<h2>Reports</h2>
                                    <p>Detailed reporting for clients and techs</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="welcome_part wow fadeInRight">
									<div class="welcome_icon">
                                        <i class="fa fa-cogs fa-4x"></i>
									</div>
                                    <h2>Parts / Assemblies / Labor</h2>
                                    <p>Quickly create assemblies, add parts & custom create labor categories</p>
								</div>
							</div>
						</div>	
						<!-- About service part end--> 
					</div>
				</div>
			</div>
		</div>
	</section>
  <!-- About Section End -->	

  	 <!-- Demo Section Start -->		
	<section id="Demo_section">
		<div class="Demo_section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row">	
						<!-- About text start -->
							<div class="section-title">
								<h2>Overview</h2>
								<p>Video Preview of the Product.</p>
							</div>
						<!-- About text end -->	
						</div>
						<!-- About service part start--> 

						<div class="row">
								<div style="margin:auto">
									<div class="welcome_part wow fadeInUp">
                                        <iframe width="560" height="315" align="center"style="margin-left: 320px;" src="https://www.youtube.com/embed/Lz9FM0gEULA" frameborder="0" allowfullscreen></iframe>
                                            
										<p></p>
									</div>
								</div>
							
							
						</div>	
						<!-- About service part end--> 
					</div>
				</div>
			</div>
		</div>
	</section>
  <!-- Demo Section End -->	
  <!-- Subscriber Section Start --> 
	
  <!-- Subscriber Section End -->
  <!-- Contact Section Start -->  
	<section id="contact_section">
		<div class="contact_section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="section-title">
							<h2>Contact us for demo and pricing</h2>
							<p>Please leave your email so we can contact you regarding Product Demo & Pricing.</p>
						</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="address_part">
								<div class="address">
									<i class="fa fa-map-marker"></i> &nbsp; Suite #200, 8350 Hickman Rd, <br/> Clive, IA <br/>IA 50325
								</div>
								<div class="phone">
									<i class="fa fa-phone"></i> &nbsp; 515-657-7466 <br /> <!--( Mon–Fri 7:00 to 5:00 pm )-->

								</div>
								<div class="email">
									<!-- <i class="fa fa-envelope-o"></i> &nbsp; <a href="mailto:kevin@kbelectriciowa.com">kevin@kbelectriciowa.com</a> -->
									<i class="fa fa-envelope-o"></i> &nbsp; <a href="mailto:info@electric-ease.com">info@electric-ease.com</a>
								</div>
								<!--div class="social_icons">
											<ul>
												<li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook" data-rel="tooltip" class="icon_fb" ><i class="fa fa-facebook-square"></i></a></li>
												<li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter" data-rel="tooltip" class="icon_twitter"><i class="fa fa-twitter-square"></i></a></li>
												<li><a href="#" data-toggle="tooltip" data-placement="top" title="Google+" data-rel="tooltip" class="icon_gplus"><i class="fa fa-google-plus-square"></i></a></li>
												<li><a href="#" data-toggle="tooltip" data-placement="top" title="Linkdin" data-rel="tooltip" class="icon_linkdin"><i class="fa fa-linkedin-square"></i></a></li>
												<li><a href="#" data-toggle="tooltip" data-placement="top" title="Youtube" data-rel="tooltip" class="icon_youtube"><i class="fa fa-circle fa-youtube-square"></i></a></li>
												<li><a href="#" data-toggle="tooltip" data-placement="top" title="Vimeo" data-rel="tooltip" class="icon_vimeo"><i class="fa fa-vimeo-square"></i></a></li>
											</ul>

								</div-->
							</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<!-- <h2>Contact now</h2> -->
							<div class="email_subscribe_form_part wow zoomIn">
						<!-- Email Subscribe Form start -->
							<form method="post" id="subscriber_form" action="contact.php">
								<input type="email" id="subscriberemail" name="subscriber_email" class="form-control email_input_box" placeholder="example@website.com" required/> <br>
								<button type="button" onclick="sendcontactus()"  class="btn btn-primary email_submit_box"><i class="fa fa-envelope-o"></i> Contact Us</button>
									</form>
						<!-- Email Subscribe Form End -->	
						<div id="show_subscriber_msg"></div>
								</div>
							</div>
					</div>
				</div>
			</div>
			</div>	
		</div>	
	</section>
  
    
  <!-- Contact Section End -->	
   <!--Core js-->
   
   <script src="js/jquery-1.11.1-.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.smooth-scroll.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
      <script src="../Scripts/js.cookie.js"></script>
    <script src="../Scripts/bootstrap-toastr/toastr.min.js"></script>
	<!--common script init for all pages-->
    <script src="js/script.js"></script>
	<script>
	    function DisplayNotification(returnvalue, status) {
	        if (returnvalue != null) {
	            if (status == "success") {
	                toastr.options = { "positionClass": "toast-bottom-right" };
	                toastr.success(returnvalue);
	            }
	            else if (status == "error") {
	                toastr.options = { "positionClass": "toast-bottom-right" };
	                toastr.error(returnvalue);

	            }
	        }
	    }
	    function sendcontactus() {
	        if ($('#subscriberemail').val() != "") {
	            Cookies.set("AllowAnonymous", "true");
	            var model = {
	                message: $('#subscriberemail').val()
	            }
	            $.ajax({
	                url: '../Login/ContactUs',
	                type: 'GET',
	                data: model,
	                success: function (data) {
	                    if (data == "success") {
	                        DisplayNotification("“Email” sent successfully!", "success");
	                        $('#subscriberemail').val('')
	                    }
	                    else {
	                        DisplayNotification("“Email” not sent! ", "error");
	                    }

	                    Cookies.set("AllowAnonymous", "false");
	                },
	                error: function (err) {
	                    
	                }
	            });
	        }
	        else {
                DisplayNotification("“Email” is required!", "error");
	        }
	    }

       
	    $(".resmenu").click(function () {
	        $("#menu-center").toggle(600);
	    });
	    /* ==============================================
        Ajax Submiting For Email Subscriber Form.
        =====================================================================*/
	    $("#subscriber_form").submit(function (e) {
	        $('#show_subscriber_msg').html('<div class=gen>Submiting..</div>');
	        var subscriberemail = $('#subscriberemail').val();
	        var formURL = $(this).attr("action");
	        var data = {
	            subscriberemail: subscriberemail
	        }
	        $.ajax(
            {
                url: formURL,
                type: "POST",
                data: data,

                success: function (res) {
                    if (res == '1') {
                        $('#show_subscriber_msg').html('<div class=gen>Thank you very much, We will notify you when we lunch</div>');
                    }

                    if (res == '5') {
                        $('#show_subscriber_msg').html('<div class=err>Please enter a valid email address</div>');
                    }
                }
            });
	        e.preventDefault();	//STOP default action
	    });
	    /* ==============================================
        Ajax Submiting For Email Contact Form.
        =====================================================================*/
	    $("#contact_form").submit(function (e) {
	        $('#show_contact_msg').html('<div class=gen>Submiting..</div>');
	        var username = $('#contact_name').val();
	        var useremail = $('#contact_email').val();
	        var commenttext = $('#contact_text').val();
	        var formURL = $(this).attr("action");
	        var data = {
	            username: username,
	            useremail: useremail,
	            commenttext: commenttext,
	        }
	        $.ajax(
            {
                url: formURL,
                type: "POST",
                data: data,

                success: function (res) {
                    if (res == '1') {
                        $('#show_contact_msg').html('<div class=gen>Thank you very much, We will notify you when we lunch</div>');
                    }

                    if (res == '5') {
                        $('#show_contact_msg').html('<div class=err>Please enter a valid email address</div>');
                    }
                }
            });
	        e.preventDefault();	//STOP default action
	    });
	    $('#scrollToBottom').bind("click", function () {
	        $('html, body').animate({ scrollTop: 620 }, 2000);
	        return false;
	    });
	    var $ = jQuery.noConflict();
	    jQuery(document).ready(function ($) {
	        scrollToTop.init();
	    });

	    var scrollToTop =
        {
            init: function () {
                //Check to see if the window is top if not then display button
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 100) {
                        $('.scrollToTop').fadeIn();
                    } else {
                        $('.scrollToTop').fadeOut();
                    }
                });

                // Click event to scroll to top
                $('.scrollToTop').click(function () {
                    $('html, body').animate({ scrollTop: 0 }, 800);
                    return false;
                });
            }
        };
	</script>
  </body>
</html>