/.vs

/ElectricEase.BLL/bin
/ElectricEase.BLL/obj

/ElectricEase.Data/bin
/ElectricEase.Data/obj

/ElectricEase.Helpers/bin
/ElectricEase.Helpers/obj

/ElectricEase.Models/bin
/ElectricEase.Models/obj

/ElectricEase.Web/Logs
/ElectricEase.Web/Upload/Parts_Data_Template1.xlsx

/ElectricEase.Web/bin
/ElectricEase.Web/obj
